{% extends 'good_template.html' %}

{% block title %} {{ name_en }} {% endblock %}
{% block name %} {{ name_rus }} {% endblock %}
{% block name_2 %} {{ name_en }} {% endblock %}
{% block path1 %}  {{path + "front.jpg" }}  {% endblock %}
{% block path2 %}  {{path + "1.jpg" }}  {% endblock %}
{% block path3 %}  {{path + "2.jpg" }} {% endblock %}
{% block path4 %}  {{path + "3.jpg" }} {% endblock %}
{% block path5 %}  {{path + "4.jpg" }} {% endblock %}
{% block description %} {{ description }} {% endblock %}

<!--    <h1> {{ name }} </h1>-->


